In [3]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
pd.options.mode.chained_assignment = None

plt.style.use('ggplot')

In [3]:
df = pd.read_csv('weather_train.csv')
print(df)

             Date     Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0      01-12-2008       Albury     13.4     22.9       0.6          NaN
1      02-12-2008       Albury      7.4     25.1       0.0          NaN
2      03-12-2008       Albury     12.9     25.7       0.0          NaN
3      04-12-2008       Albury      9.2     28.0       0.0          NaN
4      05-12-2008       Albury     17.5     32.3       1.0          NaN
...           ...          ...      ...      ...       ...          ...
52057  21-06-2017  Tuggeranong     -1.2     15.1       0.4          NaN
52058  22-06-2017  Tuggeranong     -0.4     14.0       0.0          NaN
52059  23-06-2017  Tuggeranong     -3.5     13.4       0.0          NaN
52060  24-06-2017  Tuggeranong      0.1     14.5       0.0          NaN
52061  25-06-2017  Tuggeranong     -5.8     14.4       0.0          NaN

       Sunshine WindGustDir  WindGustSpeed WindDir9am  ... WindSpeed3pm  \
0           NaN           W           44.0          W  ...         24.0
1           NaN         WNW           44.0        NNW  ...         22.0
2           NaN         WSW           46.0          W  ...         26.0
3           NaN          NE           24.0         SE  ...          9.0
4           NaN           W           41.0        ENE  ...         20.0
...         ...         ...            ...        ...  ...          ...
52057       NaN         WSW           15.0        NaN  ...          7.0
52058       NaN           N           24.0        NaN  ...         15.0
52059       NaN          NW           33.0         SW  ...         13.0
52060       NaN          NW           35.0          N  ...         17.0
52061       NaN           W           43.0        SSE  ...         19.0

       Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0             71.0         22.0       1007.7       1007.1       8.0       NaN
1             44.0         25.0       1010.6       1007.8       NaN       NaN
2             38.0         30.0       1007.6       1008.7       NaN       2.0
3             45.0         16.0       1017.6       1012.8       NaN       NaN
4             82.0         33.0       1010.8       1006.0       7.0       8.0
...            ...          ...          ...          ...       ...       ...
52057        100.0         38.0       1028.8       1026.3       NaN       NaN
52058         83.0         44.0       1029.5       1025.0       NaN       NaN
52059        100.0         38.0       1022.0       1016.1       NaN       NaN
52060         64.0         43.0       1017.1       1015.4       NaN       NaN
52061         86.0         49.0       1018.5       1016.0       NaN       NaN

       Temp9am  Temp3pm  RainTomorrow
0         16.9     21.8            No
1         17.2     24.3            No
2         21.0     23.2            No
3         18.1     26.5            No
4         17.8     29.7            No
...        ...      ...           ...
52057     -0.4     14.7            No
52058      6.0     13.1            No
52059      0.1     12.9            No
52060      9.5     13.1            No
52061     -0.5     11.3            No

[52062 rows x 22 columns]

In [455]:
means = df.mean()
df = df.fillna(means)


# data = df[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed','WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm']]

data = df.select_dtypes(exclude=['object'])


rain = df['RainTomorrow'].tolist()


print(data)
data.shape

       MinTemp    MaxTemp  Rainfall  Evaporation   Sunshine  WindGustSpeed  \
0         19.0  44.500000       0.0     6.096236  13.100000      54.000000
1         31.2  44.300000       0.0     6.096236  12.200000      54.000000
2         19.3  30.300000       0.0     6.096236   9.400000      46.000000
3         14.0  29.700000       0.0     6.096236  13.100000      44.000000
4         12.7  27.900000       0.0     6.096236  12.400000      50.000000
...        ...        ...       ...          ...        ...            ...
29088      2.8  23.400000       0.0     6.096236   8.422771      31.000000
29089      3.6  25.300000       0.0     6.096236   8.422771      22.000000
29090      5.4  26.900000       0.0     6.096236   8.422771      37.000000
29091      7.8  27.000000       0.0     6.096236   8.422771      28.000000
29092     14.9  25.248916       0.0     6.096236   8.422771      40.435895

       WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  \
0              26.0          15.0         27.0         10.0       1015.3
1              31.0          30.0         10.0         22.0       1007.7
2              22.0          28.0         63.0         43.0       1010.9
3              17.0          30.0         43.0         29.0       1012.2
4              11.0          31.0         48.0         34.0       1008.4
...             ...           ...          ...          ...          ...
29088          13.0          11.0         51.0         24.0       1024.6
29089          13.0           9.0         56.0         21.0       1023.5
29090           9.0           9.0         53.0         24.0       1021.0
29091          13.0           7.0         51.0         24.0       1019.4
29092          17.0          17.0         62.0         36.0       1020.2

       Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm
0           1009.7  3.780706  3.935895     31.2     42.9
1           1007.8  3.780706  3.935895     40.2     35.8
2           1009.5  7.000000  2.000000     23.2     27.6
3           1009.5  0.000000  0.000000     23.0     29.0
4           1008.4  1.000000  3.000000     23.4     25.7
...            ...       ...       ...      ...      ...
29088       1020.3  3.780706  3.935895     10.1     22.4
29089       1019.1  3.780706  3.935895     10.9     24.5
29090       1016.8  3.780706  3.935895     12.5     26.1
29091       1016.5  3.000000  2.000000     15.1     26.0
29092       1017.9  8.000000  8.000000     15.0     20.9

[29093 rows x 16 columns]

C:\Users\Divyansh Mittal\AppData\Local\Temp\ipykernel_9896\1726181321.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean()

(29093, 16)

In [64]:
def YesNoConverter(T):
    if T == "Yes":
        return 1
    else:
        return 0
rain = list(map(YesNoConverter, rain))
rain = np.array(rain)
print (rain)

[0 0 0 ... 0 0 0]

In [336]:
for col in data.columns:
    data[col] = (data[col] - data[col].min())/(data[col].max() - data[col].min())

In [337]:
means = data.mean()
print(means)
print(means['MaxTemp'])

MinTemp          0.501736
MaxTemp          0.464349
Rainfall         0.005786
Evaporation      0.121439
Sunshine         0.593153
WindGustSpeed    0.277709
WindSpeed3pm     0.285558
Humidity9am      0.625548
Humidity3pm      0.456067
Pressure9am      0.579753
Pressure3pm      0.579052
Cloud9am         0.472588
Cloud3pm         0.491987
Temp9am          0.492402
Temp3pm          0.480429
WindSpeed3pm     0.285558
dtype: float64
0.46434899544965685

In [338]:
print(data)

        MinTemp   MaxTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed  \
0      0.664835  0.954198       0.0     0.121439  0.922535       0.387097
1      1.000000  0.949109       0.0     0.121439  0.859155       0.387097
2      0.673077  0.592875       0.0     0.121439  0.661972       0.322581
3      0.527473  0.577608       0.0     0.121439  0.922535       0.306452
4      0.491758  0.531807       0.0     0.121439  0.873239       0.354839
...         ...       ...       ...          ...       ...            ...
29088  0.219780  0.417303       0.0     0.121439  0.593153       0.201613
29089  0.241758  0.465649       0.0     0.121439  0.593153       0.129032
29090  0.291209  0.506361       0.0     0.121439  0.593153       0.250000
29091  0.357143  0.508906       0.0     0.121439  0.593153       0.177419
29092  0.552198  0.464349       0.0     0.121439  0.593153       0.277709

       WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  \
0          0.238095     0.262626     0.090909     0.567753       0.5216
1          0.476190     0.090909     0.212121     0.437393       0.4912
2          0.444444     0.626263     0.424242     0.492281       0.5184
3          0.476190     0.424242     0.282828     0.514580       0.5184
4          0.492063     0.474747     0.333333     0.449400       0.5008
...             ...          ...          ...          ...          ...
29088      0.174603     0.505051     0.232323     0.727273       0.6912
29089      0.142857     0.555556     0.202020     0.708405       0.6720
29090      0.142857     0.525253     0.232323     0.665523       0.6352
29091      0.111111     0.505051     0.232323     0.638079       0.6304
29092      0.269841     0.616162     0.353535     0.651801       0.6528

       Cloud9am  Cloud3pm   Temp9am   Temp3pm  WindSpeed3pm
0      0.472588  0.491987  0.788235  0.955882      0.238095
1      0.472588  0.491987  1.000000  0.781863      0.476190
2      0.875000  0.250000  0.600000  0.580882      0.444444
3      0.000000  0.000000  0.595294  0.615196      0.476190
4      0.125000  0.375000  0.604706  0.534314      0.492063
...         ...       ...       ...       ...           ...
29088  0.472588  0.491987  0.291765  0.453431      0.174603
29089  0.472588  0.491987  0.310588  0.504902      0.142857
29090  0.472588  0.491987  0.348235  0.544118      0.142857
29091  0.375000  0.250000  0.409412  0.541667      0.111111
29092  1.000000  1.000000  0.407059  0.416667      0.269841

[29093 rows x 16 columns]

In [347]:
data = data.to_numpy()

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'

In [348]:
data.shape

(29093, 16)

In [349]:
np.c_[np.ones(52062),data]

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 52062 and the array at index 1 has size 29093

In [350]:
print(data).T

[[0.66483516 0.95419847 0.         ... 0.78823529 0.95588235 0.23809524]
 [1.         0.94910941 0.         ... 1.         0.78186275 0.47619048]
 [0.67307692 0.59287532 0.         ... 0.6        0.58088235 0.44444444]
 ...
 [0.29120879 0.50636132 0.         ... 0.34823529 0.54411765 0.14285714]
 [0.35714286 0.50890585 0.         ... 0.40941176 0.54166667 0.11111111]
 [0.5521978  0.464349   0.         ... 0.40705882 0.41666667 0.26984127]]

AttributeError: 'NoneType' object has no attribute 'T'

In [351]:
df = pd.read_csv('weather_test.csv')
print(df)

             Date    Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0      11-01-2014  PearceRAAF     19.0     44.5       0.0          NaN
1      12-01-2014  PearceRAAF     31.2     44.3       0.0          NaN
2      13-01-2014  PearceRAAF     19.3     30.3       0.0          NaN
3      14-01-2014  PearceRAAF     14.0     29.7       0.0          NaN
4      15-01-2014  PearceRAAF     12.7     27.9       0.0          NaN
...           ...         ...      ...      ...       ...          ...
29088  21-06-2017       Uluru      2.8     23.4       0.0          NaN
29089  22-06-2017       Uluru      3.6     25.3       0.0          NaN
29090  23-06-2017       Uluru      5.4     26.9       0.0          NaN
29091  24-06-2017       Uluru      7.8     27.0       0.0          NaN
29092  25-06-2017       Uluru     14.9      NaN       0.0          NaN

       Sunshine WindGustDir  WindGustSpeed WindDir9am  ... WindSpeed3pm  \
0          13.1           E           54.0          E  ...         15.0
1          12.2           E           54.0          N  ...         30.0
2           9.4         WSW           46.0        SSW  ...         28.0
3          13.1         WSW           44.0        SSE  ...         30.0
4          12.4           W           50.0         NW  ...         31.0
...         ...         ...            ...        ...  ...          ...
29088       NaN           E           31.0         SE  ...         11.0
29089       NaN         NNW           22.0         SE  ...          9.0
29090       NaN           N           37.0         SE  ...          9.0
29091       NaN          SE           28.0        SSE  ...          7.0
29092       NaN         NaN            NaN        ESE  ...         17.0

       Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0             27.0         10.0       1015.3       1009.7       NaN       NaN
1             10.0         22.0       1007.7       1007.8       NaN       NaN
2             63.0         43.0       1010.9       1009.5       7.0       2.0
3             43.0         29.0       1012.2       1009.5       0.0       0.0
4             48.0         34.0       1008.4       1008.4       1.0       3.0
...            ...          ...          ...          ...       ...       ...
29088         51.0         24.0       1024.6       1020.3       NaN       NaN
29089         56.0         21.0       1023.5       1019.1       NaN       NaN
29090         53.0         24.0       1021.0       1016.8       NaN       NaN
29091         51.0         24.0       1019.4       1016.5       3.0       2.0
29092         62.0         36.0       1020.2       1017.9       8.0       8.0

       Temp9am  Temp3pm  RainTomorrow
0         31.2     42.9            No
1         40.2     35.8            No
2         23.2     27.6            No
3         23.0     29.0            No
4         23.4     25.7            No
...        ...      ...           ...
29088     10.1     22.4            No
29089     10.9     24.5            No
29090     12.5     26.1            No
29091     15.1     26.0            No
29092     15.0     20.9           NaN

[29093 rows x 22 columns]

In [352]:
means = df.mean()
df = df.fillna(means)

print(df)


data = df[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'WindSpeed3pm']]



rain = df['RainTomorrow']


print(data)
data.shape
print(rain)

             Date    Location  MinTemp    MaxTemp  Rainfall  Evaporation  \
0      11-01-2014  PearceRAAF     19.0  44.500000       0.0     6.096236
1      12-01-2014  PearceRAAF     31.2  44.300000       0.0     6.096236
2      13-01-2014  PearceRAAF     19.3  30.300000       0.0     6.096236
3      14-01-2014  PearceRAAF     14.0  29.700000       0.0     6.096236
4      15-01-2014  PearceRAAF     12.7  27.900000       0.0     6.096236
...           ...         ...      ...        ...       ...          ...
29088  21-06-2017       Uluru      2.8  23.400000       0.0     6.096236
29089  22-06-2017       Uluru      3.6  25.300000       0.0     6.096236
29090  23-06-2017       Uluru      5.4  26.900000       0.0     6.096236
29091  24-06-2017       Uluru      7.8  27.000000       0.0     6.096236
29092  25-06-2017       Uluru     14.9  25.248916       0.0     6.096236

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... WindSpeed3pm  \
0      13.100000           E      54.000000          E  ...         15.0
1      12.200000           E      54.000000          N  ...         30.0
2       9.400000         WSW      46.000000        SSW  ...         28.0
3      13.100000         WSW      44.000000        SSE  ...         30.0
4      12.400000           W      50.000000         NW  ...         31.0
...          ...         ...            ...        ...  ...          ...
29088   8.422771           E      31.000000         SE  ...         11.0
29089   8.422771         NNW      22.000000         SE  ...          9.0
29090   8.422771           N      37.000000         SE  ...          9.0
29091   8.422771          SE      28.000000        SSE  ...          7.0
29092   8.422771         NaN      40.435895        ESE  ...         17.0

       Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0             27.0         10.0       1015.3       1009.7  3.780706  3.935895
1             10.0         22.0       1007.7       1007.8  3.780706  3.935895
2             63.0         43.0       1010.9       1009.5  7.000000  2.000000
3             43.0         29.0       1012.2       1009.5  0.000000  0.000000
4             48.0         34.0       1008.4       1008.4  1.000000  3.000000
...            ...          ...          ...          ...       ...       ...
29088         51.0         24.0       1024.6       1020.3  3.780706  3.935895
29089         56.0         21.0       1023.5       1019.1  3.780706  3.935895
29090         53.0         24.0       1021.0       1016.8  3.780706  3.935895
29091         51.0         24.0       1019.4       1016.5  3.000000  2.000000
29092         62.0         36.0       1020.2       1017.9  8.000000  8.000000

       Temp9am  Temp3pm  RainTomorrow
0         31.2     42.9            No
1         40.2     35.8            No
2         23.2     27.6            No
3         23.0     29.0            No
4         23.4     25.7            No
...        ...      ...           ...
29088     10.1     22.4            No
29089     10.9     24.5            No
29090     12.5     26.1            No
29091     15.1     26.0            No
29092     15.0     20.9           NaN

[29093 rows x 22 columns]
       MinTemp    MaxTemp  Rainfall  Evaporation   Sunshine  WindGustSpeed  \
0         19.0  44.500000       0.0     6.096236  13.100000      54.000000
1         31.2  44.300000       0.0     6.096236  12.200000      54.000000
2         19.3  30.300000       0.0     6.096236   9.400000      46.000000
3         14.0  29.700000       0.0     6.096236  13.100000      44.000000
4         12.7  27.900000       0.0     6.096236  12.400000      50.000000
...        ...        ...       ...          ...        ...            ...
29088      2.8  23.400000       0.0     6.096236   8.422771      31.000000
29089      3.6  25.300000       0.0     6.096236   8.422771      22.000000
29090      5.4  26.900000       0.0     6.096236   8.422771      37.000000
29091      7.8  27.000000       0.0     6.096236   8.422771      28.000000
29092     14.9  25.248916       0.0     6.096236   8.422771      40.435895

       WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  \
0              15.0         27.0         10.0       1015.3       1009.7
1              30.0         10.0         22.0       1007.7       1007.8
2              28.0         63.0         43.0       1010.9       1009.5
3              30.0         43.0         29.0       1012.2       1009.5
4              31.0         48.0         34.0       1008.4       1008.4
...             ...          ...          ...          ...          ...
29088          11.0         51.0         24.0       1024.6       1020.3
29089           9.0         56.0         21.0       1023.5       1019.1
29090           9.0         53.0         24.0       1021.0       1016.8
29091           7.0         51.0         24.0       1019.4       1016.5
29092          17.0         62.0         36.0       1020.2       1017.9

       Cloud9am  Cloud3pm  Temp9am  Temp3pm  WindSpeed3pm
0      3.780706  3.935895     31.2     42.9          15.0
1      3.780706  3.935895     40.2     35.8          30.0
2      7.000000  2.000000     23.2     27.6          28.0
3      0.000000  0.000000     23.0     29.0          30.0
4      1.000000  3.000000     23.4     25.7          31.0
...         ...       ...      ...      ...           ...
29088  3.780706  3.935895     10.1     22.4          11.0
29089  3.780706  3.935895     10.9     24.5           9.0
29090  3.780706  3.935895     12.5     26.1           9.0
29091  3.000000  2.000000     15.1     26.0           7.0
29092  8.000000  8.000000     15.0     20.9          17.0

[29093 rows x 16 columns]
0         No
1         No
2         No
3         No
4         No
        ...
29088     No
29089     No
29090     No
29091     No
29092    NaN
Name: RainTomorrow, Length: 29093, dtype: object

C:\Users\Divyansh Mittal\AppData\Local\Temp\ipykernel_9896\507528599.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean()

In [445]:
def YesNoConverter(T):
    if T == "Yes":
        return 1
    else:
        return 0
# rain = list(map(YesNoConverter, rain))
# rain1 =  rain.fillna(0)
rain1 = rain.replace(to_replace ="Yes",value =1)
rain2 = rain1.fillna(1)
rain3 = rain2.replace(to_replace ="No",value =0)

print (rain3)

0        0
1        0
2        0
3        0
4        0
        ..
29088    0
29089    0
29090    0
29091    0
29092    1
Name: RainTomorrow, Length: 29093, dtype: int64

In [446]:
for col in data.columns:
    data[col] = (data
                 [col] - data[col].min())/(data[col].max() - data[col].min())

In [447]:
means = data.mean()
print(means)
print(means['MaxTemp'])

MinTemp          0.501736
MaxTemp          0.464349
Rainfall         0.005786
Evaporation      0.121439
Sunshine         0.593153
WindGustSpeed    0.277709
WindSpeed3pm     0.285558
Humidity9am      0.625548
Humidity3pm      0.456067
Pressure9am      0.579753
Pressure3pm      0.579052
Cloud9am         0.472588
Cloud3pm         0.491987
Temp9am          0.492402
Temp3pm          0.480429
WindSpeed3pm     0.285558
dtype: float64
0.46434899544965685

In [448]:
a = data.to_numpy()

In [449]:
w_opt = np.array([-5.549, -0.678 , 0.991 , 6.913 , 1.69 , -1.594 , 5.81 ,  1.047 ,-2.362, 1.152, 5.242,  5.115, -6.482 , 0.237 , 1.016,  0.063 , 0.5])

In [450]:
row,col = data.shape
print(row,col)

29093 16

In [451]:
X = np.column_stack([np.ones(row),data])
row,col = X.shape
print(row,col)

29093 17

In [452]:
d = np.dot(w_opt,X.T)
d.shape

(29093,)

In [453]:
d = np.round(1/(1+np.exp(-d)))
d.shape

(29093,)

In [454]:
a = np.mean(rain3==d)
print(a)

0.5672842264462242